<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <test thread-count="5" name="WhatsApp TestNG Tests" enabled="false">
    <classes>
      <class name="com.ramSabhanam.tests.WhatsAppTests"/>
    </classes>
  </test>
  
  <test thread-count="5" name="WhatsApp Cucumber Tests" enabled="true">
    <classes>
      <class name="com.ramSabhanam.runners.WhatsAppRunner"/>
    </classes>
  </test>
  
</suite>
